@import '../../sass/_mixin.scss';
@import '../../styles/vars.css';
.navigation {
  display: flex;
  align-items: center;

  @include mob {
    gap: 36px;
    // position: absolute;
    // left: 26%;
    // top: 140px;
    // flex-direction: column;
  }
  @include tablet {
    gap: 40px;
    // position: absolute;
    // left: 47%;
    // top: 180px;
  }
  @include comp {
    position: static;
    height: 32px;
    border-left: 2px solid var(--decoration-gray);
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 40px;
    flex-direction: row;
    gap: 0;
  }
}

.navlink {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.92;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-gray);
}

.first {
  composes: navlink;
  margin-right: 16px;
}

.second {
  composes: navlink;
  margin-right: 16px;
}

.first:hover,
.first:focus {
  color: var(--black);
}
.second:hover,
.second:focus {
  color: var(--black);
}

.active {
    color: var(--black);
}

.navigationBackColor {
  display: none;
  @include comp {
  display: block;
  }
}

